In [1]:
a=10 #direct assigning the value to the variavle
print(a)

10

In [2]:
num=958
print(num)

958

### OPERATORS
- Arithmetic
- Assignment
- Logical
- Comparison
- Identity
- Membership

In [3]:
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)

print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

In [4]:
x=5
x+=2
print(x)

7

In [5]:
x-=2
print(x)
x*=2
print(x)
x/=2
print(x)
x%=2
print(x)
x**=2
print(x)

5
10
5.0
1.0
1.0

In [6]:
print(a>2 and a<10)
print(a>6 and a<10)

True
False

In [7]:
a>6 and a<10

False

In [8]:
10==10

True

In [9]:
10==5

False

In [10]:
a=(10,24,58,63,12,24)
print(10) in a

10

False

In [11]:
a=(10,24,58,63,12,24)
print(10) not in a

10

True

In [12]:
a=(10+10)
print (a)

20

In [13]:
a=(30-10)
print (a)

20

In [14]:
a=(2*2)
print (a)

4

In [15]:
a=(20/5)
print (a)

4.0

In [16]:
a=(20%6)
print (a)

2

In [17]:
a=(20//8)
print (a)

2

In [18]:
a=(10**4)
print (a)

10000

In [19]:
x=5
print (x)

5

In [20]:
x//=112
print (x)

0

In [21]:
a**=10
print (a)

10000000000000000000000000000000000000000

In [22]:
5==10
print(x)

0

In [23]:
#list
l=[1,2,3,4,5]
fruits=['apple','banana','orange']
print(l)
print(fruits)

[1, 2, 3, 4, 5]
['apple', 'banana', 'orange']

In [24]:
#tuple
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [25]:
#sets
fruits={'apple','apple','banaba','mango'}
print(fruits)

{'banaba', 'apple', 'mango'}

In [26]:
student={
    "name" : "john",
    "age" : 20,
    "course" : "B.Tech"
}
print(student)

{'name': 'john', 'age': 20, 'course': 'B.Tech'}

In [27]:
brand={
    "name" : "ford",
    
}

In [28]:
type(a)
print (a)

10000000000000000000000000000000000000000

In [29]:
a=int(input("enter a number: "))
print(a)

In [ ]:
#typrcasting
x=int(input("Enter a number: "))
y=str(x)
print(y)

5

In [ ]:
type(y)

str

In [3]:
# list 
l = [1,522,58,69,646]
name=['arpit','harsh','ankit',]
print (1) 
print(name)

1
['arpit', 'harsh', 'ankit']

In [7]:
#sets
fruits={'banana','mango','apple','orenge'}
print (fruits)

{'mango', 'banana', 'apple', 'orenge'}

In [8]:
#tuple
t=(5,8,6,2,5,4,8,2,0,4)
print(t)

(5, 8, 6, 2, 5, 4, 8, 2, 0, 4)

In [4]:
#list
l=shop['shouse','sliper','sendle','jacket']
print(l)

NameError: name 'shop' is not defined

In [5]:
a=ram
print(a)

NameError: name 'ram' is not defined