##loop
- For Loop
- While Loop

In [3]:
lst=['apple','banaba','cherry','diwi','melon','mango']
for i in lst:
    print(i)

apple
banaba
cherry
diwi
melon
mango

In [6]:
a=[2,4,6,8,10,12,14,16]
for xi in a:
    print(xi**3)

8
64
216
512
1000
1728
2744
4096

In [6]:
name="arpit singh"
for x in name:
    print(x)

a
r
p
i
t

s
i
n
g
h

In [10]:
for x in range(21):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
for x in range(2,11):
    print(x)

2
3
4
5
6
7
8
9
10

In [14]:
for x in range(4):
    print("arpit")

arpit
arpit
arpit
arpit

In [1]:
for x in range(9):
    print("harsh")

harsh
harsh
harsh
harsh
harsh
harsh
harsh
harsh
harsh

In [5]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

In [4]:
for x in range(2,21,2):
    print(x)

2
4
6
8
10
12
14
16
18
20

## whileloop

In [2]:
x=41
while x<51:
    print(x)
    x+=1

41
42
43
44
45
46
47
48
49
50

In [2]:
x=0
while x<5:
    print("rajya vardhan singh")
    x+=1

rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh

In [2]:
x=0
while x<21:
    print("rajya vardhan singh")
    x+=1

rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh
rajya vardhan singh

In [6]:
x=0
while x<20:
    print(x*2)
    x+=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38